.iconLeft {
  position: absolute;
  top: 10px;
  left: 10px;
}

.iconRight {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.season-display.winter i {
  color: rgb(72, 72, 245);
}

.season-display.summer i {
  color: rgb(236, 78, 15);
}

.season-display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.winter {
  background-color: rgb(0, 0, 0);
  color: white;
}

.summer {
  background-color: rgb(255, 174, 68);
}
